<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>value</key>
		<string>nanorep</string>
		<key>key</key>
		<string>account</string>
		<key>type</key>
		<string>input</string>
		<key>hint</key>
		<string>Account</string>
	</dict>
	<dict>
		<key>value</key>
		<string>English</string>
		<key>key</key>
		<string>kb</string>
		<key>type</key>
		<string>input</string>
		<key>hint</key>
		<string>Knowledgebase</string>
	</dict>
	<dict>
		<key>key</key>
		<string>apiKey</string>
		<key>type</key>
		<string>input</string>
		<key>hint</key>
		<string>API Key (optional)</string>
		<key>value</key>
		<string>8bad6dea-8da4-4679-a23f-b10e62c84de8</string>
	</dict>
	<dict>
		<key>key</key>
		<string>server</string>
		<key>type</key>
		<string>input</string>
		<key>hint</key>
		<string>Server (optional)</string>
		<key>value</key>
		<string>mobilestaging</string>
	</dict>
	<dict>
		<key>key</key>
		<string>withWelcome</string>
		<key>type</key>
		<string>switch</string>
		<key>hint</key>
		<string>With welcome message</string>
	</dict>
	<dict>
		<key>key</key>
		<string>enableHistory</string>
		<key>type</key>
		<string>switch</string>
		<key>hint</key>
		<string>Enable Chat History</string>
	</dict>
	<dict>
		<key>key</key>
		<string>addContext</string>
		<key>type</key>
		<string>addContext</string>
		<key>hint</key>
		<string>Add Context</string>
	</dict>
</array>
</plist>
