<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
    <dict>
    <key>oktaDomain</key>
    <string>genesys-cloud.oktapreview.com</string>
    <key>clientId</key>
    <string>0oaru72divW67WgBD1d7</string>
    <key>scopes</key>
    <string>openid profile offline_access email</string>
    <key>signInRedirectURI</key>
    <string>com.oktapreview.genesys-cloud:/callback</string>
    <key>logoutRedirectUri</key>
    <string>com.oktapreview.genesys-cloud:/</string>
    <key>oktaState</key>
    <string>state-296bc9a0-a2a2-4a57-be1a-d0e2fd9bb601</string>
    <key>codeChallenge</key>
    <string>Cc6VZuBMOjDa9wKlFZLK-9lLPr_Q5e7mJsnVooFnBWA</string>
    <key>codeVerifier</key>
    <string>BtNSLgCNFlZPEOodtxgIp7c-SlnC0RaLilxRaYuZ7DI</string>
    <key>codeChallengeMethod</key>
    <string>S256</string>
    </dict>
</plist>
