<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BasicSample.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>996D2D21A7FF26D6DAEF220176EFE96D1E6C1075</string>
				<key>dateExpires</key>
				<string>6/12/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>996D2D21A7FF26D6DAEF220176EFE96D1E6C1075</string>
						<key>dateExpires</key>
						<string>6/12/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Bold360AI.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GFNFVT632V</string>
						<key>name</key>
						<string>LogMeIn, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>996D2D21A7FF26D6DAEF220176EFE96D1E6C1075</string>
						<key>dateExpires</key>
						<string>6/12/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>BoldAIAccessibility.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GFNFVT632V</string>
						<key>name</key>
						<string>LogMeIn, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>996D2D21A7FF26D6DAEF220176EFE96D1E6C1075</string>
						<key>dateExpires</key>
						<string>6/12/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>BoldAIEngine.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GFNFVT632V</string>
						<key>name</key>
						<string>LogMeIn, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>996D2D21A7FF26D6DAEF220176EFE96D1E6C1075</string>
						<key>dateExpires</key>
						<string>6/12/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>BoldCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GFNFVT632V</string>
						<key>name</key>
						<string>LogMeIn, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>996D2D21A7FF26D6DAEF220176EFE96D1E6C1075</string>
						<key>dateExpires</key>
						<string>6/12/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>BoldEngine.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GFNFVT632V</string>
						<key>name</key>
						<string>LogMeIn, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>996D2D21A7FF26D6DAEF220176EFE96D1E6C1075</string>
						<key>dateExpires</key>
						<string>6/12/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OpalImagePicker.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GFNFVT632V</string>
						<key>name</key>
						<string>LogMeIn, Inc.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>GFNFVT632V.com.bold360ai.engine.sdk</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>GFNFVT632V</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>GFNFVT632V.com.bold360ai.engine.sdk</string>
				</array>
			</dict>
			<key>name</key>
			<string>BasicSample.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5c13b74d-2354-48d4-8ea0-b8d31e54ebd2</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.bold360ai.engine.sdk</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>GFNFVT632V</string>
				<key>name</key>
				<string>LogMeIn, Inc.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
