name: iOS Build Check

on:
  push:
    branches: 
      - main
      - develop
      - feature/build-check
  pull_request:
    branches:
      - main
      - develop

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build Application
    runs-on: macos-15
    timeout-minutes: 10

    # check before changing versions https://github.com/actions/runner-images/blob/main/images/macos/macos-15-Readme.md
    env:
      XCODE_VERSION: "16.4"
      IOS_VERSION: "18.5"
      SIMULATOR_DEVICE: "iPhone 16"
      WORKSPACE_NAME: "GCMessengerSDKSample.xcworkspace"
      SCHEME_NAME: "GCMessengerSDKSample"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1  # Shallow clone

      - name: Set Xcode Version
        run: |
          sudo xcode-select -s /Applications/Xcode_${{ env.XCODE_VERSION }}.app
          xcodebuild -version

      - name: Install CocoaPods
        working-directory: GCMessengerSDKSample
        run: |
          pod install

      - name: Build iOS App
        working-directory: GCMessengerSDKSample
        run: |
          xcodebuild clean build \
            -workspace "${{ env.WORKSPACE_NAME }}" \
            -scheme "${{ env.SCHEME_NAME }}" \
            -destination "platform=iOS Simulator,OS=${{ env.IOS_VERSION }},name=${{ env.SIMULATOR_DEVICE }}" \
            -sdk iphonesimulator \
            CODE_SIGNING_ALLOWED=NO
