name: iOS Build Check

on:
  push:
    branches: 
      - main
      - develop
      - feature/build-check
  pull_request:
    branches:
      - main
      - develop

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build Application
    runs-on: macos-latest # or macos-14
    timeout-minutes: 10

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1  # Shallow clone

      - name: Set Xcode Version
        run: |
          sudo xcode-select -s /Applications/Xcode_15.4.app
          xcodebuild -version

      - name: Install CocoaPods
        working-directory: GCMessengerSDKSample
        run: |
          pod install --repo-update

      - name: Build iOS App
        working-directory: GCMessengerSDKSample
        run: |
          xcodebuild clean build \
            -workspace "GCMessengerSDKSample.xcworkspace" \
            -scheme "GCMessengerSDKSample" \
            -destination 'platform=iOS Simulator,name=iPhone 15' \
            -sdk iphonesimulator \
            CODE_SIGNING_ALLOWED=NO
